# =========================
# DATASETS
# =========================
dataset/
datasets/
data/
yawn_dataset/
*.zip
*.tar
*.tar.gz

# =========================
# TRAINED MODELS
# =========================

*.pt
*.pth
*.onnx
models/
checkpoints/

# =========================
# LARGE FILES
# =========================
*.mp4
*.avi
*.mov
*.mkv
*.csv
*.pkl
*.pickle

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENVIRONMENTS
# =========================
venv/
env/
.env
.envrc

# =========================
# MAC FILES
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# LOG FILES
# =========================
*.log

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp